<!-- nav_menu.html.twig -->
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
<center>
<nav>

    <ul class="nav">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('category_index') }}">Category</a></li>
        <li><a href="{{ path('director_index') }}">Director</a></li>
        <li><a href="{{ path('crew_index') }}">Crew</a></li>
        <li><a href="{{ path('rating_index') }}">Rating</a></li>
        <li><a href="{{ path('movie_index') }}">Movie</a></li>
       <li><a href="{{ path('app_logout') }}">Logout</a></li>

        <center>
    </ul>
</nav>
